mixin list_item_item(list_class, config, item, key)
	| #{item}

mixin list_item_link(list_class, config, item, key)
	a(href="#{item}.html" class="#{list_class}_link")
		+list_item_item(list_class, config, item, key)

mixin list_item_li(list_class, config, item, key, add_class)
	if !add_class
		li(class="#{list_class}_item")
			+list_item_link(list_class, config, item, key)
	else
		li(class="#{list_class}_item #{add_class}")
			+list_item_link(list_class, config, item, key)

mixin check_to_array(list_class, config, item, key)
	if item == "[object Object]"
		each item_deep, i in item
			if i.indexOf("add_class") == -1
				+check_to_array(list_class, config, item_deep, i)
			else
				+list_item_li(list_class, config, item_deep.val, key, item_deep.additional_class)
	else
		+list_item_li(list_class, config, item, key)

mixin list(list_class, array, helper_class)
	//- Create UL
	ul(class=list_class+" "+helper_class )
		//- go to all element in array
		+check_to_array(list_class, array.config, array.massElem)

